* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://previews.123rf.com/images/titco/titco2004/titco200400024/144919598-wood-background-abstract-wooden-texture.jpg");
  padding-top: 50px;

}

.mainboard {
  border: 1px solid;
  height: 480px;
  width: 480px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.65);
}

.white {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  background-color: white;
}

.green {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  background-color: green;
}
