* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 11.25vh);
  grid-template-rows: repeat(8, 11.25vh);
  align-content: center; /*Centers the board to the middle of the site*/
  justify-self: center; /*Centers the board to the middle of the site*/
}

$green: #779558;
$cream: #eeedd3;
$max-width: 480px;
$max-height: 480px;

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #212121;

  .grid {
    margin: auto; /* Adds margin on all sides, also helps board to go in the middle */
    height: 100vh;
    width: 100vw;
    padding-top: 100px; /*Adds padding to top of board so entire board appears on screen*/
    max-width: 480px; /*Shows the maximum width of the board no matter what screen size*/
    max-height: 480px; /*Shows the maximum height of the board no matter what screen size*/
    min-width: 300px; /*Shows the minumum height of the board no matter what screen size*/
    min-height: 300px; /*Shows the minumum height of the board no matter what screen size*/

    &__item {
      content: attr(div); /*Adds the content of the div to the box*/
      background-color: $cream; /*Adds background color to cell*/
      display: block;
      text-align: center; /*Centers the text on the cell*/
      padding-top: 10px; /*Helps center the text on the cell*/
      font-size: 5vh; /*Font size of the text in the cell*/

      &:nth-of-type(-2n + 8),
      &:nth-of-type(8) ~ *:nth-of-type(-2n + 15),
      &:nth-of-type(16) ~ *:nth-of-type(-2n + 24),
      &:nth-of-type(24) ~ *:nth-of-type(-2n + 31),
      &:nth-of-type(32) ~ *:nth-of-type(-2n + 40),
      &:nth-of-type(40) ~ *:nth-of-type(-2n + 47),
      &:nth-of-type(48) ~ *:nth-of-type(-2n + 56),
      &:nth-of-type(56) ~ *:nth-of-type(-2n + 63) {
        background-color: $green;
      }
    }
  }
}

#pawn1 {
  position: relative; /*Allows keyframe movements*/
  animation-name: fmove;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes fmove {
  0% {
    background-color: transparent;
    top: 1vh;
  }

  100% {
    background-color: transparent;
    top: 23vh;
  }
}

#pawn2 {
  position: relative;
  animation-name: secmove;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

@keyframes secmove {
  0% {
    background-color: transparent;
    bottom: 1vh;
  }
  100% {
    background-color: transparent;
    bottom: 23vh;
  }
}

#rook1 {
  position: relative;
  animation-name: thrmove;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 10s;
}

@keyframes thrmove {
  0% {
    background-color: transparent;
    top: 1vh;
  }
  100% {
    background-color: transparent;
    top: 23vh;
  }
}

#knight1 {
  position: relative;
  animation-name: fthmove;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 15s;
}

@keyframes fthmove {
  0% {
    background-color: transparent;
    bottom: 1vh;
  }
  50% {
    background-color: transparent;
    bottom: 23vh;
  }
  75% {
    background-color: transparent;
    bottom: 23vh;
    right: 0vh;
  }
  100% {
    background-color: transparent;
    bottom: 23vh;
    right: 12vh;
  }
}

#pawn3 {
  position: relative;
  animation-name: ffthmove;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 20s;
}

@keyframes ffthmove {
  0% {
    background-color: transparent;
    top: 1vh;
  }
  100% {
    background-color: transparent;
    top: 12.5vh;
  }
}

#pawn4 {
  position: relative;
  animation-name: sxthmove;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 25s;
}

@keyframes sxthmove {
  0% {
    background-color: transparent;
    bottom: 1vh;
  }
  100% {
    background-color: transparent;
    bottom: 23vh;
  }
}

#bish1 {
  position: relative;
  animation-name: svnthmove;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 30s;
}

@keyframes svnthmove {
  0% {
    background-color: transparent;
    top: 0vh;
    right: 0vh;
  }
  100% {
    background-color: transparent;
    top: 34vh;
    right: 34vh;
  }
}

#pawneat {
  position: relative;
  animation-name: eithmove;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 35s;
}

@keyframes eithmove {
  0% {
    background-color: transparent;
    bottom: 0vh;
    left: 0vh;
  }
  50% {
    background-color: transparent;
    bottom: 10vh;
    left: 11vh;
  }
  100% {
    background-color: $cream;
    bottom: 10vh;
    left: 11.2vh;
  }
}
