* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 11.25vh);
  grid-template-rows: repeat(8, 11.25vh);
  align-content: center; /*Centers the board to the middle of the site*/
  justify-self: center; /*Centers the board to the middle of the site*/

}

$green: #779558;
$cream: #eeedd3;
$max-width: 480px;
$max-height: 480px;

body {
  padding: 0;
  margin: 0;
  background-color: #212121;

  .grid {
    margin: auto; /* Adds margin on all sides, also helps board to go in the middle */
    padding-top: 100px; /*Adds padding to top of board so entire board appears on screen*/
    max-width: 480px; /*Shows the maximum width of the board no matter what screen size*/
    max-height: 480px; /*Shows the maximum height of the board no matter what screen size*/
    min-width: 300px; /*Shows the minumum height of the board no matter what screen size*/
    min-height: 300px; /*Shows the minumum height of the board no matter what screen size*/

    &__item {
      content: attr(div); /*Adds the content of the div to the box*/
      background-color: $cream;/*Adds background color to cell*/
      display: block;
      text-align: center;/*Centers the text on the cell*/
      padding-top: 10px; /*Helps center the text on the cell*/
      font-size: 5vh;/*Font size of the text in the cell*/

      &:nth-of-type(-2n + 8),
      &:nth-of-type(8) ~ *:nth-of-type(-2n + 15),
      &:nth-of-type(16) ~ *:nth-of-type(-2n + 24),
      &:nth-of-type(24) ~ *:nth-of-type(-2n + 31),
      &:nth-of-type(32) ~ *:nth-of-type(-2n + 40),
      &:nth-of-type(40) ~ *:nth-of-type(-2n + 47),
      &:nth-of-type(48) ~ *:nth-of-type(-2n + 56),
      &:nth-of-type(56) ~ *:nth-of-type(-2n + 63) {
        background-color: $green;
      }
    }
  }
}
